body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('31745279.jpg') no-repeat center/cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    width: 450px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#mode {
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mode:hover {
    background-color: #555;
}

#heading {
    font-size: 1rem;
    border: 2px solid #333;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    width: fit-content;
}

.content {
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: #f0f8ff;
    border-radius: 30px;
    padding: 20px;
    height: 280px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

#quote {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 20px;

}

.container #author {
    font-size: 1rem;
    color: maroon;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

#btn1 {
    color: #fff;
    background-color: #000;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#btn1:hover {
    transform: scale(1.1);
    background-color: #555;
}

}